<h2>
  <a href="https://github.com/bigBear713/nb-common/blob/master/projects/nb-common/README.md" target="_blank">
    Document
  </a>
  <a href="https://github.com/bigBear713/nb-common/blob/master/CHANGELOG.md" target="_blank">
    Changelog
  </a>
</h2>
<hr>
<h3>
  <a routerLink="/tpl-content-demo">tpl content pipe</a>
  <a routerLink="/r-str-demo">r-str component</a>
  <a routerLink="/placeholder-str-demo">placeholderStr Director</a>
  <a routerLink="/img-demo">img Director</a>
</h3>
<router-outlet></router-outlet>