<h2>适用于加载大图片的场景，加载过程中会有loading效果</h2>

<h4>只设置"nbImg"</h4>
<img [nbImg]="bigImg">
<h5>代码</h5>
<pre>
    <code>
      {{"\<img [nbImg]=\"bigImg\"\>"}}
    </code>
  </pre>
<hr>

<h4>自定义loading</h4>
<img [nbImg]="bigImg" [loadingImg]="loadingImg">
<h5>代码</h5>
<pre>
    <code>
      {{"\<img [nbImg]=\"bigImg\"\>"}}
    </code>
  </pre>
<hr>

<h4>图片加载失败, 显示默认图片</h4>
<img nbImg="errorImg">
<h5>代码</h5>
<pre>
    <code>
      {{"\<img nbImg=\"errorImg\"\>"}}
    </code>
  </pre>
<hr>

<h4>图片加载失败, 显示自定义图片</h4>
<img nbImg="errorImg" [errImg]="errImg">
<h5>代码</h5>
<pre>
    <code>
      {{"\<img nbImg=\"errorImg\" [errImg]=\"errImg\" \>"}}
    </code>
  </pre>
<hr>

<h4>当设置了src，且nbImg没有设置值时，仍显示src的内容</h4>
<img [src]="bigImg" nbImg>
<h5>代码</h5>
<pre>
    <code>
      {{"\<img [src]=\"bigImg\" nbImg>"}}
    </code>
  </pre>
<hr>